<body>
<div class = "navbar-fixed ">
  <nav>
    <div class="nav-wrapper purple">
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <a href="/" class="brand-logo">
        <i class="material-icons">code</i>CodeGIG
      </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/">HOME</a></li>
          <li><a href="/all">ALL GIG's</a></li>
          <li><a href="/add">ADD GIG's</a></li>
        </ul>
    </div>
  </nav>
</div>

</body>